body {
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

div.header-container {
    position: relative;
    background: #c4c4c4c4;
    width: 100%;
    height: 73px;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    border-bottom: solid 1px black;
}

#logo {
    padding-top: 13px;
    padding-left: 44px;
    font-size: 36px;
}


#logo:link {
    text-decoration: none;
    color: black;
}

#logo:visited {
    text-decoration: none;
    color: black;
}

a.pages {
   font-size: 20px;
    align-self: center;
    margin: 47px;
}

a.pages:link {
    text-decoration: none;
    color: black;
}

a.pages:visited {
    text-decoration: none;
    color: black;
}

div.intro {
    text-align: center;
    margin-top: 30px;
}

