p.desc {
    margin-left: 89px;
    font-size: x-large;
    font-style: normal;
}

p.tool_name {
    margin-left: 89px;
    font-weight: bold;
    font-size: xx-large;
}
p.error {
    font-weight: bold;
    color: red;
}
div.inline {
    display: inline-block;
    align-content: start;
    padding-left: 20px;
}
div.block {
    display: flex;
    align-content: center;
}

.block:hover {
    background: darkgrey;
}
div.block:hover + ul {
    display: grid;
}
.inline {
    display: inline-block;
}
.params {
    margin-left: 20px;
    margin-bottom: 27px;
    width: fit-content;
    height: fit-content;
}
.tool_panel {
    margin-left: 89px;
}

input.input_number {
    width: 3rem;
}

input.input_text {
    width: 3rem;
}

ul {
    list-style-type: none;
    display: none;
    padding: 0px;
    margin-top: 0px;
}

ul:hover {
    display: grid;
}

ul.submenu > li {
    display: grid;
    background: #c4c4c4c4;
    height: 73px;
    align-content: center;
    border-bottom: solid black 1px;
}

ul > li > a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}